@import url("./styles.css");

h3 {
    align-self: center;
    margin-bottom: 1vw;
    font-size: 1.5rem;

    @media (width<=425px) {
        font-size: 2rem;
    }
}

header {
    border-color: red;
    height: 25vh;

    #anuncios {
        display: flex;
        padding: 16vh 2vw 9vh 2vw;
        height: 16vh;
        background: radial-gradient(ellipse, transparent, black), url("../public/img/home.jpg");
        background-size: cover;
        color: white;
        overflow-y: hidden;
        justify-content: space-between;

        div {
            display: flex;
            height: 3.5vh;

            p {
                align-self: center;
            }

            img {
                width: 6rem;
                height: 6rem;
                transform: translateY(-1rem) rotate(16deg);
                animation: levantar 1.2s;
            }
        }


    }

    @media (width <=425px) {
        height: 20vh;

        #anuncios {
            padding-top: 10vw;
            height: fit-content;
            flex-direction: column;
            justify-content: space-between;

            .title {
                padding: 4vw 0vw;
            }

            img {
                display: none
            }
        }
    }

}

main {
    animation: none;
    animation-timeline: initial;

    .busqueda {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25vh;
        padding: 1vh 2vw 0vw 2vw;
        overflow-y: visible;

        h2 {
            color: black;
            display: flex;
            justify-content: center;
            font-weight: 800;

            span {
                height: 4rem;
                animation: levantar 0.2s both;
            }
        }

        .barra {
            padding: 2vw;
            width: 70vw;
            height: 5vh;
            font-size: 1.3rem;
            border-radius: 1.7rem;
            border: 2px solid yellowgreen;

            &:focus {
                border: 3px solid green;
                outline: none;
                box-shadow: none;
            }
        }

        @media (width <=425px) {
            height: 15vh;
        }

    }

    .listado {
        display: flex;

        .buscar-categorias {
            margin: 2vw;
            padding: 1vw;
            display: flex;
            flex-direction: column;
            width: 20vw;
            border-radius: 20px;
            border: thin solid black;
            background-color: aliceblue;
            animation: mover-derecha 1.5s ease forwards;



            h4 {
                padding: 1vw 0vw;
            }

            form {
                font-size: 1.08rem;
                padding: 0.3vw;

                label {
                    cursor: pointer;
                    display: block;
                    padding: 0.3vw;
                }
            }

        }

        .productos {
            display: flex;
            flex-wrap: wrap;
            gap: 4vw;
            padding: 2vw 2vw 2vw 2vw;
            width: 100vw;

            >div {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                background-color: white;
                box-shadow: 1px 3px 25px;
                border-radius: 1.2rem;
                height: 70vh;
                width: 20vw;
                text-align: center;
                padding-bottom: 2vh;
                transition: all 0.4s;
                animation: levantar 0.5s ease forwards;


                img {
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                    border-radius: 1.2rem 1.2rem 0rem 0rem;
                    margin-bottom: 2vh;
                }

                p {
                    padding: 0 2vw;
                    text-align: justify;
                    color: black;
                }

                >p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                     overflow: hidden;
                }

                >div {
                    p {
                        text-align: center;
                        padding: 1vh 0;
                    }

                    .ver-producto {
                        width: 8vw;
                        height: 5vh;
                    }
                }

                &:hover {
                    transform: scale(1.03);
                }

            }
        }

        @media (width<=425px) {
            .buscar-categorias {
                display: none;
                width: 0vw;
            }

            .productos {
                width: 98vw;
                gap: 10vw;

                >div {
                    height: 60vh;
                    width: 100vw;

                    >div {
                        .ver-producto {
                            width: 50vw;
                            height: 5vh;
                        }
                    }
                }
            }
        }
    }




}


@keyframes levantar {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#a {
    animation-delay: 0.025s;
}

#b {
    animation-delay: 0.05s;
}

#c {
    animation-delay: 0.075s;
}

#d {
    animation-delay: 0.1s;
}

#e {
    animation-delay: 0.125s;
}

#f {
    animation-delay: 0.15s;
}

#g {
    animation-delay: 0.175s;
}

#h {
    animation-delay: 0.2s;
}

#i {
    animation-delay: 0.225s;
}

#j {
    animation-delay: 0.25s;
}

#k {
    animation-delay: 0.275s;
}

#l {
    animation-delay: 0.3s;
}

#m {
    animation-delay: 0.325s;
}

#n {
    animation-delay: 0.35s;
}

#o {
    animation-delay: 0.375s;
}

#p {
    animation-delay: 0.4s;
}