@import url("catalogoStyles.css");

@media (width<=425px) {
    #anuncios{
        h3.title{
            text-align: center;
            padding: 2vh 0vh 0vh 0vh;
        }

        div{
            align-self: center;
            p { 
                font-size: 1.8rem;
                padding: 0vw;
            }
        }
    }
        

}


main {
    min-height: 70vh;
    animation: none;
    animation-timeline: initial;

    .intro-pq {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 25vh;
        padding: 1vh 2vw 0vw 2vw;
        overflow-y: visible;

        h2 {
            color: black;
            display: flex;
            justify-content: center;
            font-weight: 800;

            span {
                height: 4rem;
                animation: levantar 0.2s both;
            }
        }

        .descripcion {
            text-align: center;
            color: #333;
            font-size: 1.2rem;
            max-width: 80vw;
            margin-top: 2vh;
        }

        @media (width <=768px) {
            height: 20vh;
        }
    }

    .contenido-pq {
        display: flex;
        gap: 3vw;
        padding: 2vw;
        min-height: 80vh;

        .categorias-pq {
            width: 25vw;
            padding: 2vw;
            background-color: aliceblue;
            border-radius: 20px;
            border: thin solid black;
            animation: mover-derecha 1.5s ease forwards;
            height: fit-content;
            
            h3 {
                text-align: center;
                margin-bottom: 2vh;
                font-size: 1.5rem;
                color: #333;
            }

            .categoria-item {
                margin-bottom: 2vh;
                padding: 1vh;
                border-bottom: 1px solid #ddd;

                h4 {
                    color: #555;
                    margin-bottom: 1vh;
                    font-size: 1.1rem;
                }

                ul {
                
                    padding-left: 1vw;
                    
                    li {
                        padding: 0.5vh 0;
                        color: #666;
                        cursor: pointer;
                        transition: color 0.3s;

                        &:hover {
                            color: greenyellow;
                        }
                     
                        &::marker{
                        content: none;
                        }
                    }
                }
            }
        }

        .preguntas-respuestas {
            width: 70vw;
            display: flex;
            flex-direction: column;
            gap: 2vh;

            .pregunta-item {
                cursor: pointer;
                background-color: white;
                border-radius: 15px;
                padding: 2vh 2vw;
                box-shadow: 2px 2px 6px;
                border-left: 1vw solid greenyellow;
                animation: levantar 0.5s ease forwards;
                transition: all 0.3s ease;

                &:hover {
                    box-shadow: 2px 3px 10px;
                }

                h3 {
                    color: #333;
                    font-size: 1.4rem;
                    margin-bottom: 1vh;
                    font-weight: 600;
                }

                p {
                    color: #555;
                    line-height: 1.6;
                    font-size: 1rem;
                    padding: 0;
                }
            }
        }

        @media (width <= 768px) {
            flex-direction: column;
            
            .categorias-pq {
                display: none;
            }
            
            .preguntas-respuestas {
                width: 100%;
            }
        }
    }

    .contacto-adicional {
        height: 80vh;
        margin-top: 4vh;
        background: #000020;
        
        h2 {
            color: white;
        }
        button {
            font-size: 1rem;
        }

        @media (width<=768px) {
            margin: 2vh;
            height: 130dvh;
            padding: 1vh;
            
            button{
                font-size: 1.5rem;
            }
        }
    }
}

#q {animation-delay: 0.425s;}
#r {animation-delay: 0.45s;}
#s {animation-delay: 0.475s;}


@keyframes levantar {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}