<!DOCTYPE html>
<html lang="ES" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>404 | BioAire - Tarapoto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/pqStyles.css}">
</head>

<body>
    <header>
        <a th:href="@{/carrito}" class="cart-button">
            <img th:src="@{/public/img/shopping-car.svg}" alt="Carrito">
        </a>
        <nav class="sidebar">
            <ul>
                <img th:src="@{/public/img/Bioaire-Logo.avif}" alt="BioAire-Logo" id="logo-principal">
                <li><a th:href="@{/}">Inicio</a></li>
                <li><a th:href="@{/catalogo.html}">Ver catalogo</a></li>
                <li><a th:href="@{/blog.html}">Blog</a></li>
                <li><a th:href="@{/pq.html}">Preguntas Frecuentes</a></li>
                <li class="salir-nav" style="display: none;" onclick="cerrarSidebar()">Salir</li>
            </ul>
        </nav>
        <div class="toggle" onclick="verSidebar()">
            <img th:src="@{/public/img/toggle.svg}" alt="tg" style="margin-top: 1vh; align-self: center; justify-self: center;"
                width="30px" height="30px">
        </div>
    </header>

    <main>
        <section class="intro-pq">
            <h2>
                <span id="a">E</span>
                <span id="b">r</span>
                <span id="c">r</span>
                <span id="d">o</span>
                <span id="e">r</span>
                <p> </p>
                <span id="f">d</span>
                <span id="g">e</span>
                <p> </p>
                <span id="h">c</span>
                <span id="i">a</span>
                <span id="j">p</span>
                <span id="k">a</span>
                <p> </p>
                <span id="l">8</span>
            </h2>
            <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjBwcnYyMHBkcDJwZjl5YjcwOGJ1ZnZmeGdjdDBydWtpYmJya29ueSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/BBkKEBJkmFbTG/giphy.gif"
                alt="gif">
            <p class="descripcion">
                ¿Estas bien?
            </p>
        </section>
    </main>

    <footer>
        <p>Otros enlaces de interes</p>
        <nav>
            <a href="https://google.com">Google</a>
            <a href="https://facebook.com">Nuestro Facebook</a>
            <a th:href="@{/404.html}">Politica de privacidad</a>
            <a href="https://www.shoppiingperu.com/">Pagina oficial</a>
                  <a href="https://github.com/Brayan2008">Mi GitHub</a>
      <a th:href="@{/admin/producto/nuevo}">Admin</a>
    </nav>
        </nav>
        <div id="despedida">
            <p>2025 - Jugando con html, llorando con css, perdido con js</p>
            <p>Hecho con horas de sueño por: <span>Bmaster</span></p>
        </div>
    </footer>
    
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
</body>

</html>